language: ruby
rvm:
  - 2.4.2

sudo: required
dist: trusty
cache: bundler

notifications:
  email:
    - travis.lilleberg@tufts.edu

before_script:
  #Chrome testing stuff
  - export PATH=$PATH:/usr/lib/chromium-browser/
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3 # give xvfb some time to start
  - cp config/database.yml.sample config/database.yml
  - cp config/secrets.yml.sample config/secrets.yml
  - mysql -e 'create database ests_spotlight_test'
  - mkdir -p tmp && export TMPDIR=tmp
  - bundle exec rake tufts:ci

script:
  - jdk_switcher use oraclejdk8
  - bundle exec rake tufts:spec

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

bundler_args: --without development debug

services:
  - mysql

addons:
  chrome: stable
