<%# This changed between spotlight versions. TODO: Will have to dig into if this is still working. How it was changed and how to change it it have same effects. %>

<% cache_unless current_user, [current_exhibit, @page] do %>
<div id="sidebar" class="col-md-3" role="complementary">
  <ol class="nav sidenav">
    <% InMenuBehavior::Helper.menu_filter(@exhibit.feature_pages).each do |feature_section| %>
      <li class="<%= 'active' if current_page? [spotlight, @exhibit, feature_section] %>">
        <h4><%= link_to_unless_current feature_section.title, [spotlight, @exhibit, feature_section] %></h4>
        <ol class="subsection">
          <% feature_section.child_pages.published.each do |page| %>
            <li class="<%= 'active' if current_page? [spotlight, @exhibit, page] %>"><%= link_to_unless_current page.title, [spotlight, @exhibit, page] %></li>
          <% end %>
        </ol>
      </li>
    <% end %>
  </ol>
</div>
<% end %>
