<div class="blue-footer container">
  <ul class="nav navbar-nav">
    <li><%= link_to "Sign in Test Avoid our conrtoller", user_shibboleth_omniauth_authorize_path, method: :post %></li>
  </ul>
</div>