defaults: &defaults
  pdf_pages:
    page_location: "#{Rails.root}/pdf_pages"
  png_pages:
    page_location: "#{Rails.root}/pdf_pages"
  pngizer_failure_address: "brian.goodmon@tufts.edu"
  tdl_feedback_address: "brian.goodmon@tufts.edu"
  tdl_feedback_subject: "TDL Content Feedback"
  object_store_root: <%= Gem.loaded_specs['tuftsification-hydra'].full_gem_path + "/local_object_store" %>
  trim_bucket_url: "http://bucket01.lib.tufts.edu"
  processing_url: "http://processing01.lib.tufts.edu:8080"
  repository_url: "http://repository01.lib.tufts.edu:8080"
development: &development
  <<: *defaults
  neat_setting: 800
  processing_url: "SKIP"
  repository_url: "http://localhost:8983/"
tdldev:
  <<: *defaults
  pdf_pages:
    page_location: "/tdr"
  object_store_root: "/tdr"
  processing_url: "http://dev-processing01.lib.tufts.edu:8080"
  repository_url: "http://dev-repository01.lib.tufts.edu:8080"
stage:
  <<: *defaults
  pdf_pages:
    page_location: "/tdr"
  png_pages:
    page_location: "/tdr"
  pngizer_failure_address: "dldev@elist.tufts.edu"
  object_store_root: "/tdr"
  processing_url: "http://stage-processing01.lib.tufts.edu:8080"
  repository_url: "http://stage-repository01.lib.tufts.edu:8080"
test:
  <<: *development
production:
  <<: *defaults
  pdf_pages:
    page_location: "/tdr"
  png_pages:
    page_location: "/tdr"
  tdl_feedback_address: "dl_feedback@elist.tufts.edu"
  object_store_root: "/tdr"
  processing_url: "http://processing01.lib.tufts.edu:8080"
  repository_url: "http://repository01.lib.tufts.edu:8080"
