/*
*= require bootstrap-tagsinput
*/
@import 'spotlight/variables_bootstrap';
@import 'bootstrap';
@import 'sir-trevor/main';
@import 'leaflet';
@import 'spotlight/spotlight';

$tufts_blue: #3172ae;
.blue-footer {
  background-color: $tufts_blue;
  padding: 20px 20px 20px 40px;
  box-shadow: 0 50vh 0 50vh $tufts_blue; /* Extends the blue to bottom of page, if necessary */
  width: 100%;
}

.blue-footer .navbar-nav>li>a {
    color: #FFF;
}