/*
*= require bootstrap-tagsinput
*/
@import 'spotlight/variables_bootstrap';
@import 'bootstrap';
@import 'sir-trevor/main';
@import 'leaflet';
@import 'spotlight/spotlight';

$tufts_blue: #3172ae;
.blue-footer {
  background-color: $tufts_blue;
  padding: 20px 20px 20px 40px;
  box-shadow: 0 50vh 0 50vh $tufts_blue; /* Extends the blue to bottom of page, if necessary */
  width: 100%;
}

.blue-footer .navbar-nav>li>a {
    color: #FFF;
}

/* temp moving from tufts spotlight overrides */
@font-face{
  font-family:"Meta Serif";
  src:font-url("b95879a4-6677-40bf-9528-ffecf9b247e4.eot?#iefix");
  src:font-url("b95879a4-6677-40bf-9528-ffecf9b247e4.eot?#iefix") format("eot"),
  font-url("540baff3-1dae-4349-b607-d71e6a8d5a3e.woff2") format("woff2"),
  font-url("329d96cf-0721-417a-9888-cc6b095163c3.woff") format("woff"),
  font-url("c46c5707-21ab-4331-99d5-197ac889ffc7.ttf") format("truetype");
}