/*
 *= require tufts_spotlight_blocks/spotlight_overrides.scss
 */

$logo_image: 'tufts_logo.png';
$light_tufts_blue: #3172ae;
$dark_tufts_blue: #2a5c89;

.dl-horizontal dd:after {
  clear: left;
}

#header-navbar .navbar-brand {
  background-image: asset-url($logo_image);
}

.navbar-inverse {
  background-color: $light_tufts_blue;

  .navbar-brand {
    padding-top: 10px;
    margin-top: 10px;
  }

  .navbar-nav > li > a {
    color: #FFF;

    &:hover {
      color: #FFF;
      background-color: $dark_tufts_blue;
    }
  }
}

/* Add some space between submit and password inputs on login page. */
#new_user .actions {
  margin-top: 1em;
}

picture.openseadragon-viewer {
  border: 1px solid #d3d3d3;
}

.openseadragon-container .controls {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

