/** General **/
@font-face{
  font-family:"Meta Serif";
  src:font-url("b95879a4-6677-40bf-9528-ffecf9b247e4.eot?#iefix");
  src:font-url("b95879a4-6677-40bf-9528-ffecf9b247e4.eot?#iefix") format("eot"),
  font-url("540baff3-1dae-4349-b607-d71e6a8d5a3e.woff2") format("woff2"),
  font-url("329d96cf-0721-417a-9888-cc6b095163c3.woff") format("woff"),
  font-url("c46c5707-21ab-4331-99d5-197ac889ffc7.ttf") format("truetype");
}

$logo_image: 'tufts_logo.png';
$light_tufts_blue: #3172ae;
$dark_tufts_blue: #2a5c89;

body {
  background-color: #FEFEFA;
  font-family: "Gotham SSm A", "Gotham SSm B";
  //font-family: "Whitney SSm A", "Whitney SSm B";
  font-size: 13px;
}

h1, h2, h3, .h1, .h1 small {
   font-family: "Meta Serif";
}

h2 {
  color: #646469;
  font-size: 24px;
}

.nav-heading {
  margin-top: 9px;
  padding-bottom: 5px;
}

h3 {
  font-size: 15px;
}

hr {
  margin: 0 0 7px 10px;
  padding: 0;
  border: .5px solid #B8B8B8;
}

.dl-horizontal dd:after {
  clear: left;
}

/** Masthead **/
.image-masthead .h1 {
  color: #FEFEFA;
}

masthead .h1 {
  color: #FEFEFA;
}

/** Temp remove, not convinced this is the new stuff **/
/** #header-navbar .navbar-brand {
  background-image: asset-url($logo_image);
} **/ 

.navbar .container .navbar-brand {
  background-image: asset-url($logo_image);
}

.navbar-right {
  .navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.topbar {
  background-color: $light_tufts_blue !important;
}

/** come back to this **/
.navbar-brand {
  padding-top: 10px;
  margin-top: 10px;
}

.topbar .container .navbar-collapse .navbar-right {
  .navbar-nav > .container > li > a {
    color: #FFF;

    &:hover {
      color: #FFF;
      background-color: $dark_tufts_blue;
    }
  }
  .navbar-nav > .container {
    &:hover {
      background-color: $dark_tufts_blue;
    }
  }
}

.sidenav > li {
  &:hover {
    background-color: #e8e3e7;
  }
}


.site-title small {
  white-space: normal;
}

/** Front Page **/
.nav-pills li {
  background-color: #e8e3e7;
  margin-right: 7px;
  border-radius: 4px;
}

.nav-pills li a:hover {
  background-color: #a9a3a9;
  color: #eef0f3;
}

.exhibit-card, .card-face {
  height: 340px;
}

.card-title {
  font-size: 15px;
}

@media (min-width: 1200px) {
  .exhibit-card, .card-face {
    height: 360px;
  }
}

/* Browse Pages */
.browse-category-title {
  color: #FEFEFA;
}

/* Add some space between submit and password inputs on login page. */
#new_user {
  label {
    font-weight: normal;
  }
  .actions {
    margin-top: 1em;
  }
}

/* Sprucing up the image viewer */
picture.openseadragon-viewer {
  border: 1px solid #d3d3d3;
}
.openseadragon-container .osd-toolbar .controls,
#document .openseadragon-container .osd-toolbar .controls {
  position: absolute;
  z-index: 100;
  float: none;
  width: 7em;
  top: .75em;
  padding: .5em 1em;
  border-radius: 0px 75px 75px 0px;
  transition: background-color 0.5s ease;
  text-align: left;

  &:hover {
    background-color: #d3d3d3;
  }

  a {
    margin: 0;
  }
}

/* Tdl Object Import form */
#new_resources_tdl {
  .form-control {
    width: 50%;
    margin-bottom: 1em;
  }
}
